article {
    background-color: #fff;
    border-right: 1px solid #e1e1e1;
}

article .content {
    font-size: 0.938em;
    color: #666666;
    padding: 
    
}

article .content h3 {
    color: #d0021b;
    font-size: 1.125em;
    font-weight: 900;
    margin-top: 20px;
    border-bottom: 1px solid #d0021b;
    padding-bottom: 5px;
}

article .content h3 i {
    margin-right: 10px;
}

article .instituiucao h4 {
    font-size: 1.063em;
    font-weight: 700;
    margin-bottom: 5px;
}

article .instituiucao h5 {
    font-size: 0.938em;
    margin-bottom: 0px;
    
}

article .instituiucao small {
    font-weight: 300;
    font-size: 0.938em;
}